<!DOCTYPE html>
<html>
<head>
 <title>The Movie Application</title>
 <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 <%= csrf_meta_tags %>
</head>
<body>
 <div id='header'>
 <!-- Header Image Displayes here -->
 </div>
 <div id='menu'>
 <div id="navbar">
<ul>
<li><a href="/movies">The Movies</a></li>
<li><a href="/actors">Famous Actors</a></li>
<li><a href="/gallery">Movie Gallery</a></li>
<li><a href="/trailer">Trailers</a></li>
</ul>
 </div>
 </div>
 <div id='container'>
 <div id='content'>
 <%= yield %>
 <% if user_signed_in? %>
 <div>Signed in as... <%= current_user.email %> (<%= link_to 'Sign out', destroy_user_session_path, :method => :delete
%>)</div>
<% else %>
 <%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %>
<% end %>
</div>
 <div id='first-column'>

 <div class="searchbox">
<h2 class="BoxHeaders">Featured Movie</h2>
<img src="/assets/crow.jpg" style="margin-left:25px" />
</div>
 </div>
 </div>

 <div id='footer'>
 <h6 class="footertext">WAYNE ROCHFORD - X11472332</h6>
 </div>
</body>
</html>
